Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.umap
*_BuiltData.uasset
*.fbx

Assets
/Content/FXVarietyPack/**
/Content/GrassLandscape/**
/Content/InfinityBladeAdversaries/**
/Content/Megascans/**
/Content/MSPresets/**
/Content/PN_GrassLibrary
/Content/ParagonGreystone/**
/Content/StarterContent/**
/Content/TP_Assets/**