Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.umap
*_BuiltData.uasset

/Content/ParagonGreystone/**
/Content/StarterContent/**
/Content/TP_Assets/**